<h1>Gif#sweet</h1>
<p>Find me in app/views/gif/sweet.html.erb</p>

<img src="/assets/sweets" width = "800" alt="Cupcakes">
<a href="/cool">Cool<img src="http://localhost:3000/assets/iceberg.jpg" width ='100' alt="iceberg">
</a>
